<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.jf.console.baseapi.area.AreaDefMapper" >
  <resultMap id="BaseResultMap" type="com.atguigu.jf.console.area.bean.bo.AreaDef" >
    <id column="AREA_ID" property="areaId" jdbcType="VARCHAR" />
    <result column="AREA_CODE" property="areaCode" jdbcType="VARCHAR" />
    <result column="AREA_NAME" property="areaName" jdbcType="VARCHAR" />
    <result column="AREA_DESC" property="areaDesc" jdbcType="VARCHAR" />
    <result column="AREA_LEVEL" property="areaLevel" jdbcType="INTEGER" />
    <result column="SUP_AREA_TREE" property="supAreaTree" jdbcType="VARCHAR" />
    <result column="SUP_AREA_ID" property="supAreaId" jdbcType="VARCHAR" />
    <result column="CREATOR" property="creator" jdbcType="DECIMAL" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="MODIFIER" property="modifier" jdbcType="DECIMAL" />
    <result column="MODIFY_DATE" property="modifyDate" jdbcType="TIMESTAMP" />
    <result column="DATA_STATE" property="dataState" jdbcType="DECIMAL" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    AREA_ID, AREA_CODE, AREA_NAME, AREA_DESC, AREA_LEVEL, SUP_AREA_TREE, SUP_AREA_ID, 
    CREATOR, CREATE_DATE, MODIFIER, MODIFY_DATE, DATA_STATE
  </sql>
  
  <select id="getAreaDef" resultMap="BaseResultMap" 
  		  parameterType="com.atguigu.jf.console.area.bean.bo.AreaDef">
  	 select
  	 <include refid="Base_Column_List"></include> 
  	 from area_def
  	 <where>
  	 	data_state=1
  	 	<if test="areaLevel!=null">
  	 		AND AREA_LEVEL = #{areaLevel,jdbcType=INTEGER} 
  	 	</if>
  	 	<if test="supAreaId!=null">
  	 		AND SUP_AREA_ID = #{supAreaId,jdbcType=VARCHAR}
  	 	</if>
  	 </where>
  </select>
  
  <!-- 广告模块使用的单框区域查询 -->
  <select id="getAreaDefForAdv" resultMap="BaseResultMap" 
  		  parameterType="com.atguigu.jf.console.area.bean.bo.AreaDef">
  	 select
  	 <include refid="Base_Column_List"></include> 
  	 from area_def
  	 <where>
  	 	data_state=1
  	 	<if test="areaLevel!=null">
  	 		<![CDATA[
	  	 		AND AREA_LEVEL <= #{areaLevel,jdbcType=INTEGER} 
  	 		]]>
  	 	</if>
  	 </where>
  </select>
  
</mapper>